<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Indexing finished. {{ replaysDoneCount }} new replays were indexed.
            </p>
        </div>
    </div>
</div>
{% include 'indexing/indexing-start.jinja2' %}