<div class="container">
    <script>
        (function () {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
        })();
    </script>
    <div class="row justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width:15%">File</th>
                    <th scope="col">Map</th>
                    <th scope="col">Players</th>
                </tr>
            </thead>
            <tbody hx-boost="false">
                {% for idx, replay in replays %}
                <tr>
                    <th scope="row">{{ idx }}</th>
                    <td>{# replay.id #}<br />
                        <button id="popOver{{ idx }}" data-bs-animation="true" type="button"
                            class="btn btn-lg btn-danger" onclick="fadeOutPopOver({{ idx }}, '{{ replay.path.as_posix() }}')" data-bs-toggle="popover" data-bs-content="Copied successfully!">Copy path</button>
                        <br />{{ replay.path }}
                    </td>
                    <td>{{ replay.mapName }}</td>
                    <td>
                        <ul>
                            {% for aliasAndRace in replay.aliases %}
                            <li>{{ aliasAndRace.alias }} ({{ aliasAndRace.race }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>