<div class="container">
    <script>
        (function () {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
        })();
    </script>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Map</th>
                    <th scope="col">Players</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody hx-boost="false">
                {% for idx, replay in replays %}
                <tr>
                    <th scope="row">{{ idx }}</th>
                    <td>{{ replay.mapName }}</td>
                    <td>
                        <ul>
                            {% for aliasAndRace in replay.aliases %}
                            <li><img src="../static/{{ aliasAndRace.race.lower() }}.svg" /> {{ aliasAndRace.alias }}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <form>
                            <button type="button" hx-boost="true" hx-target="" hx-get="/replay/{{ replay.id }}"
                                class="btn btn-lg btn-primary">Open</button>
                            <button id="popOver{{ idx }}" data-bs-animation="true" type="button"
                                class="btn btn-secondary" hx-put="/clipboard" hx-swap="none"
                                hx-include="#replayPath{{ idx }}" onclick="fadeOutPopOver({{ idx }})"
                                data-bs-toggle="popover" data-bs-content="Copied successfully!">Copy path</button>
                            <br />
                            <input id="replayPath{{ idx }}" name="replayPath" type="text"
                                value="{{ replay.path.as_posix().replace('\'', '\\\'') }}" hidden />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>