<script>
    const fadeOutPopOver = function (idx, path) {
        const thisButton = document.getElementById(`popOver${idx}`);
        thisButton.disabled = true;
        navigator.clipboard.writeText(path);

        const bsPopOverBody = bootstrap.Popover.getOrCreateInstance(`#popOver${idx}`);
        let opacity = 1;
        let intervalId = -1;
        const fadeOut = function () {
            const popOverBody = document.getElementsByClassName('popover')[0];
            opacity -= 0.05;
            if (popOverBody === undefined) return;
            popOverBody.style.opacity = opacity;

            if (opacity <= 0) {
                bsPopOverBody.hide();
                thisButton.disabled = false;
                clearInterval(intervalId);
            }
        }
        setTimeout(() => intervalId = setInterval(fadeOut, 10), 500);
    };
</script>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form onsubmit="return false;" id="searchForm" hx-get="/replays" hx-target="#results" hx-swap="innerHTML"
                hx-trigger="keyup changed delay:250ms from:input[name='aliases'],
            keyup changed delay:250ms from:input[name='map'],
            keyup changed delay:250ms from:input[name='race'],">
                <div class="input-group mb-1">
                    <span class="input-group-text" id="basic-addon1">Alias</span>
                    <input name="aliases" type="text" class="form-control" placeholder="Alias" aria-label="alias"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Map</span>
                    <input name="map" type="text" class="form-control" placeholder="Map" aria-label="map"
                        aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon3">Race</span>
                    <input name="race" type="text" class="form-control" placeholder="Race" aria-label="race"
                        aria-describedby="basic-addon3">
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="results">
    </div>
</div>